body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color:RGB(111,137,128,100);
  }
  
  /* header */
  header {
    color:RGB(232,248,123,100);
    text-align: center;
    margin: 20px;
  }
  
  /*navigation bar*/
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  /* change colour of links when hovering*/
  nav a:hover {
    color: RGB(232,248,123,100);
  }

  tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin:20px;
    text-align: center;
  }

  /* Create responsive sizing for images*/
  .location-images {
    display: flex;
    flex-wrap:nowrap;
    text-align: center;
    color: white;
  }
  
  .location-images img {
    /* flex: 1; */
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  .location-images img:hover {
    /* flex: 1; */
    opacity:80%;
  }
  
  section {
    border-radius: 25px;
    background-color: RGB(232,248,123,100);
    border-color: black;
    border: 5px solid #ffffff;
    padding: 20px;
    margin-bottom: 20px;
  }

  #rating-text {
    width: 95%;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
  }

  .log-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  
  .form-group {
    margin-bottom: 20px;
    padding:10px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
  }
  
  button {
    background-color: #7ddeb1;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    color: #404040;
    background-color: #75d775;
  }

  
  
  /* align-items to top, justify content by horizomally centering the caorusel items */
  
  .carousel-container {
    background-color: white;
    border-radius: 25px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid white;
    padding: 20px;
  }
  
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-wrap:nowrap;
  }
  
  /*  translateY repositions an element vertically on the 2D plane */
  .carousel-arrow {
    position: absolute;
    translateY(-50%);
    Width: 40px;
    height: 40px;
    color: whitesmoke;
    outline: 10px;
    cursor: pointer;
  }
  
  .carousel-item {
    align-items: center;
    border-radius: 25px;
    border-width: 10px;
    border-color: green;
    background-color: white;
  } 


 .carousel-arrow {
  font-size: 30px;
  line-height:30px;
  width:30px;
  height:30px;
  color: black;
  text-align: center;
  cursor: pointer;
 }
  
.carousel-arrow-left-arrow{
  font-size: 30px;
  line-height:30px;
  width:30px;
  height:30px;
  color: black;
  text-align: center;
  cursor: pointer;
  /* Rotate left arrow 180 degrees so that it is flipped.*/
  transform:rotateX('180');
}
.carousel-arrow-right-arrow{
font-size: 30px;
line-height:30px;
width:30px;
height:30px;
color: black;
text-align: center;
cursor: pointer;
}

.carousel-arrow-right-arrow:hover{
  color:RGB(232,248,123,100);
}
.carousel-arrow-left-arrow:hover{
  color:RGB(232,248,123,100);
}


#log-container {
  display:flex;
  /*flex item stays in single line without wrapping into next line*/
  flex-wrap:nowrap;
  /*enable horizontal scrolling when content is greater than container width*/
  overflow-x:scroll;
  scroll-snap-type: x mandatory;
  /* setting boundaries between items and edge of scrolling container*/
  scroll-padding: 10px;
  margin-bottom: 20px;
}

  .progress {
  text-align: center;
 
  }
  
  .progress-container{
    display: flex;
  }


  /*popup container overlay*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
    background-color:#ffffff;
    z-index: 9999;
  }

  .hidden {
    display:none;
  }

  .popup {
    background-color: white
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
  }



